DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/postgres
DB_HOST=postgres
ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_MINUTES=3600
SECRET_KEY=example-test-1
ALGORITHM=HS256
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
DEBUG=False

MEMCACHE_ADDR=memcached
MEMCACHE_PORT=11211