[submodule "backend"]
	path = backend
	url = https://github.com/gonnem2/fullstack
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/gonnem2/fullstack-2026-frontend
	branch = master